.ThankYou button {
  width: 25%;
  font-size: 30px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(91, 83, 143);
  font-weight: bold;
  padding: 8px;
  margin-top: 2%;
}

.ThankYou button:hover {
  background-color: rgb(91, 83, 143);
  color: orange;
  border: 1px solid rgb(91, 83, 143);
}
