<div class="Box">
  <h2><u>Account Number:</u> {{ accountNumber }}</h2>

  <h2>{{ operation | titlecase }}</h2>
  <div id="formContainer">
    <input type="number" placeholder="Amount" [(ngModel)]="amount" />

    <div *ngIf="operation === 'deposit'"></div>
    <div *ngIf="operation === 'withdraw'"></div>
    <div *ngIf="operation === 'loan'">
      <br />
      <input
        type="number"
        placeholder="Intrest Rate"
        [(ngModel)]="intrestRate"
      />
      <br />
      <br />
      <input
        type="number"
        placeholder="Amount of payments"
        [(ngModel)]="amountOfPayments"
      />
    </div>
    <br />
    <button (click)="doOperation()">Submit</button>
  </div>
</div>
