<h2>Main Menu</h2>
<hr />
<h3>
  <a
    routerLink="/"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <br /><br />
  <a routerLink="/list" [routerLinkActive]="['active']">All Songs</a>
  <br /><br />
  <a routerLink="/addSong" [routerLinkActive]="['active']">Add Song</a>
  <br /><br />
  <a routerLink="/addCategory" [routerLinkActive]="['active']">Add Category</a>
  <br /><br />
  <a routerLink="/categories" [routerLinkActive]="['active']">All Categories</a>
  <br /><br />
  <a routerLink="/about" [routerLinkActive]="['active']">About</a>
  <br /><br />
  <button (click)="nadavClick()">Go to Nadav Go!</button>
</h3>
